<a href="https://colab.research.google.com/github/Zenologos/Data-Analysis/blob/master/Corey's_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

# Program to find the ASCII value of Hello

H = 'H'
E = 'e'
L = 'l'
O = 'o'

print("The ASCII value of '" + H + E + L + L + O +"' is", ord(H),ord(E),ord(L),ord(L),ord(O))

# Using Numpy to interpret an array 
arr = np.array( [[ 1, 2, 3], 
                 [ 4, 2, 5]] ) 
  
# Printing type of arr object 
print("Array is of type: ", type(arr)) 
  
# Printing array dimensions (axes) 
print("No. of dimensions: ", arr.ndim)

# Using Pandas to generate a grid
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}
purchases = pd.DataFrame(data)
purchases = pd.DataFrame(data, index=['Black Panther', 'Iron Man', 'Wonder Woman', 'Hulk'])
purchases

The ASCII value of 'Hello' is 72 101 108 108 111
Array is of type:  <class 'numpy.ndarray'>
No. of dimensions:  2

               apples  oranges
Black Panther       3        0
Iron Man            2        3
Wonder Woman        0        7
Hulk                1        2